<div>
    <div class="sah-sub-header-content">
        <p>
            Users may use this tool to validate the attribute string. The user needs to provide the attribute string
            in the required format, according to the attribute type.
        </p>
        <p>
            The type of attribute (‘qualifier_type’: specimen voucher, culture collection, or bio material) can
            be selected to narrow the search, but if none is provided, the the tool will search within all attribute
            values.
        </p>
        <p>
            <i>Fields marked with asterisk<i class="required-asterisk">*</i> are mandatory</i>
        </p>
    </div>
    <section class="attrib-validate-section" [formGroup]="validateFormGroup">
        <form [formGroup]="validateFormGroup" (ngSubmit)="validateAttribute()">
            <table [cellPadding]="10">
                <tr>
                    <td [width]="250">
                        <mat-label>Attribute Type:
                            <span class="required-asterisk">*&nbsp;</span>
                        </mat-label>
                        <span> <button class="mat-mini-fab help" type="button">
                                        <i matTooltip="Select the Attribute Types to filter the search results"
                                           matTooltipPosition="right"
                                           [matTooltipShowDelay]="0"
                                           [matTooltipClass]='{infobox: true}'
                                           class="material-icons help-icon">?</i></button>
                                    </span>
                    </td>
                    <td>
                        <mat-form-field [style.width.px]=400>
                            <mat-select (selectionChange)="attributeSelection($event)" placeholder="Attribute Type"
                                        class="form-control" id="attributeTypeCtrl" formControlName="attributeTypeCtrl"
                                        value={{attributeTypeVal}} required>
                                <mat-option *ngFor="let attribType of attributeTypeData"
                                            [value]="attribType.value" [matTooltip]="attribType.option">
                                    {{ attribType.option }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="submitted && attributeTypeCtrl?.errors">
                            <div *ngIf="attributeTypeCtrl?.errors?.['required']" class="error">Attribute type is
                                required
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-label>Enter Attribute Value:
                            <span class="required-asterisk">*&nbsp;</span>
                        </mat-label>
                        <span> <button class="mat-mini-fab help" type="button">
                                        <i matTooltip="Enter the attribute value"
                                           matTooltipPosition="right"
                                           [matTooltipShowDelay]="0"
                                           [matTooltipClass]='{infobox: true}'
                                           class="material-icons help-icon">?</i></button>
                                    </span>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width" [style.width.px]=400>
                            <input matInput [style.width.px]="350" ngModel maxlength="100" type="text" id="attributeVal"
                                   class="form-control"
                                   name="attributeVal" formControlName="attributeCtrl" placeholder="Attribute Value"
                                   value={{attributeVal}} required>
                        </mat-form-field>
                        <br/>
                        <div *ngIf="submitted && attributeCtrl?.errors">
                            <div *ngIf="attributeCtrl?.errors?.['required']" class="error">Attribute value is required
                            </div>
                        </div>
                        <mat-hint><i>Note: The tool does not include search or validation of the
                            voucher identifier/codes.</i></mat-hint>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <button type="submit" mat-raised-button color="primary">Validate</button>
                        <div *ngIf="submitted && errorMessage !== null">{{errorMessage}}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </form>
    </section>

    <section class="matches-display-section" *ngIf="matchesResponse.length > 0">
        <table>
            <tr>
                <td>
                    <h4>Matches:</h4>
                </td>
                <td></td>
            </tr>
            <tr *ngFor="let list of matchesResponse">
                <td [width]="250">
                    <div tooltip="{{getInstitutionMeta(list.match)}}" placement="left" delay="500">{{list.match}}</div>
                </td>
                <td [width]="200">
                    {{getAttributeMeta(list.match)}}
                </td>
                <td>
                    <button (click)="storeResultInLocal(list.match)" name="{{list.match}}" id="{{list.match}}"
                            value="{{list.match}}">Add to my Matches
                    </button>
                </td>
            </tr>
        </table>
    </section>

    <app-validatestore *ngIf="showValidateStore" (refreshStoreComponent)="refreshStoreComponent()"></app-validatestore>

</div>