<section class="my-matches-display-section" *ngIf="localStorageObj.size > 0">
    <p>&nbsp;</p>
    <div id="savedAttribBox">
        <h4>My Matches:&nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="copyAllToClipboard()">Copy All</button>&nbsp;&nbsp;
            <button (click)="clearAllSavedResults()">Remove All</button>
        </h4>
        <table>
            <div class="nu-table-body">
                <tr>
                    <td [width]="300"><h5>Attribute</h5></td>
                    <td><h5>Attribute Type</h5></td>
                </tr>
            </div>
            <div class="nu-table-body">
                <tr *ngFor="let list of localStorageObj | keyvalue">
                    <td [width]="300">
                        <div tooltip="{{getInstitutionMeta(list.key.toString())}}
                                                    {{getCollectionMeta(list.key.toString())}} " placement="left" delay="500">
                            <span [innerHTML]="getAttributeDisplayText(list.key.toString())"></span>
                        </div>
                    </td>
                    <td [width]="200">
                        {{getQualifierMeta(list.value.qualifierType[0])}}
                    </td>
                    <td [width]="200">
                        <button (click)="copyToClipboard(list.key.toString())">Copy</button>&nbsp;&nbsp;
                        <button (click)="clearSavedResult(list.key.toString())">Remove</button>
                    </td>
                </tr>
            </div>
        </table>
    </div>
</section>

