<div>
    <section class="attrib-validate-section" [formGroup]="constructFormGroup">
        <table [cellPadding]="10">
            <tr>
                <td [width]="200">Attribute Type:</td>
                <td>
                    <mat-checkbox checked=false formControlName="specimen_voucher">Specimen Voucher
                    </mat-checkbox>
                    <span class="span-space-text"></span>
                    <mat-checkbox checked=false formControlName="culture_collection">Culture Collection
                    </mat-checkbox>
                    <span class="span-space-text"></span>
                    <mat-checkbox checked=false formControlName="bio_material">Biomaterial</mat-checkbox>
                </td>
            </tr>
            <tr>
                <td [width]="200">Select Institution:</td>
                <td>
                    <div class="wrapper">
                        <form class="institution-search">
                            <mat-form-field [floatLabel]="'never'">
                                <input
                                        [size]="50"
                                        type="text"
                                        placeholder="..."
                                        [formControl]="searchInstitutionCtrl"
                                        matInput
                                        [matAutocomplete]="auto"
                                        matAutocompletePosition="above"
                                        [(ngModel)]="typedInstitution">
                                <mat-autocomplete [panelWidth]="500" #auto="matAutocomplete"
                                                  (optionSelected)="onSelected()">
                                    <mat-option [id]="institution.uniqueName"
                                                *ngFor="let institution of filteredInstitutions | async"
                                                [value]=institution.uniqueName>
                                        {{institution.uniqueName}} - ({{institution.institutionName}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td [width]="200">Select Collection:</td>
                <td>
                    <mat-form-field [floatLabel]="'never'">
                        <mat-select placeholder="Select Collection"
                                    (selectionChange)="collectionChangeAction($event.value)"
                                    name="collection_dd"
                                    [(ngModel)]="selectedCollection">
                            <mat-option *ngFor="let collection of filteredCollections | async"
                                        [value]=collection.collectionCode>
                                {{collection.collectionCode}} - ({{collection.collectionName}})
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </td>
            </tr>
            <tr>
                <td>Enter Specimen id:</td>
                <td>
                    <input [size]="50" ngModel maxlength="100" type="text" id="specimenVal" class="form-control"
                           name="specimen" formControlName="specimen" placeholder="Enter the specimen id"
                           value={{specimenVal}} required/> <br/>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <button (click)="construct()">Construct Attribute Value</button>
                </td>
            </tr>
        </table>

    </section>


    <section class="contructs-display-section" *ngIf="matchesResponse.length > 0">
        <table>
            <tr>
                <td>
                    <h4>Constructed Attributes:</h4>
                </td>
                <td></td>
            </tr>
            <tr *ngFor="let list of matchesResponse">
                <td>
                    {{list.match}}
                </td>
                <td>
                    <button (click)="storeResultInLocal(list.match)" name="{{list.match}}" id="{{list.match}}"
                            value="{{list.match}}">Add to my Constructed Attributes
                    </button>
                </td>
            </tr>
        </table>
    </section>

    <section class="my-constructs-display-section" *ngIf="localStorageObj.length > 0">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div id="savedAttribBox">
            <table>
                <tr>
                    <td>
                        <h4>My constructed Attributes:
                            <button (click)="clearAllSavedResults()">Remove All</button>
                        </h4>
                    </td>
                    <td></td>
                </tr>
                <tr *ngFor="let list of localStorageObj">
                    <td>
                        {{list.toString()}}
                    </td>
                    <td>
                        <button (click)="copyToClipboard(list.toString())">Copy</button>
                        <button (click)="clearSavedResult(list.toString())">Remove</button>
                    </td>
                </tr>
            </table>
        </div>
    </section>


</div>