.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  margin-top: 1px;
  margin-left: 1px;
  width: 18px;
  height: 18px;
  border-color: white;
}

.span-space-text {
  display: inline-block;
  width: 2ch;
}

#savedAttribBox {
  background: #ffffff;
  border-radius: 25px;
  border-style: solid;
  border-width: thin;
  padding: 10px;
  width: 500px;
  //height: 10px;
}

//
//.example-form {
//  min-width: 150px;
//  max-width: 500px;
//  width: 100%;
//}
//
//.example-full-width {
//  width: 100%;
//}
//
//autocomplete-display-example {
//  .mat-form-field.mat-focused {
//    .mat-form-field-ripple {
//      background-color: yellow;
//    }
//  }
//  .mat-form-field-infix {
//    border-bottom: 10px dashed green;
//    // background-color: transparent;
//  }
//}
//
//.mat-form-field-appearance-legacy .mat-form-field-underline {
//  height: 1px !important;
//  background-color: transparent;
//}
//
//.mat-form-field.mat-focused {
//  .mat-form-field-infix {
//    border-bottom: 0px;
//    // background-color: transparent;
//  }
//}
