/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 11pt;
  margin: 0;
}
.basic-container {
  padding: 10px;
}
.version-info {
  font-size: 8pt;
  float: right;
}

.mat-raised-button.mat-primary{
  color: #f0fff3;
  background-color: #0d81a2;
}

button.mat-mini-fab.help {
  width: 20px;
  height: 20px;
  line-height: 10px;
  font-size: 11px;
}

.help-icon {
  font-size: 14px;
  color: #337ab7;
  padding-left:1px;
}
