<div style="padding: 0px 50px 0px 50px;">
    <h1>ENA Source Attribute Helper</h1>
    <div>
        <p>
            ENA Source Attribute Helper (SAH) tool is backed by the RESTful API Architecture
            and it is designed to use the data available in the
            <a target='_blank' href='https://www.ncbi.nlm.nih.gov/biocollections' class='white-color'>NCBI
                BioCollections</a>.
            NCBI BioCollections is a curated database of metadata for natural history collections, associated with
            records in INSDC,
            that includes the institution and collection codes.</p>
        <p>
            SAH tool help users accurately report biological source-related sequence and sample
            attributes.
            This tool currently focuses on the attributes in which specimens, cultures or other materials are
            identified,
            from which the sequence data were derived, and uses curated data to obtain the unique codes for the
            institutions
            and collections holding the vouchers.</p>
        <p>
            The tool's main functions include the querying of the metadata for the institutions and
            collections based on the user input, validation of institution
            and collection codes in the attribute strings provided by the user,
            and the construction of the attribute
            string based on the user-provided information.
        </p>
        <p>
            APIs can be accessed directly using
            <a target='_blank' href='{{sahAPIURL}}' class='white-color'>SAH API URL</a>
        </p>
        <p>
            Note: <i>The SAH tool does not include the search or validation of the voucher specimen codes.</i>
        </p>
    </div>

    <div style="width:800px; margin:0 auto;">
        <mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)='changeTab()' fxFill
                       class="explore-filter-tab-group">
            <mat-tab fxFlexFill opened>
                <ng-template mat-tab-label>Construct</ng-template>
                <div class="target-filters" [hidden]="selectedTab !== tab.CONSTRUCT">
                    <app-construct></app-construct>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>Validate</ng-template>
                <div class="target-filters" [hidden]="selectedTab !== tab.VALIDATE">
                    <app-validate></app-validate>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>