.error {
  font-size: 0.75rem;
  font-weight: 700;
  color: #ec5840;
}

.table-container {
  min-height: 100px;
  overflow: hidden
}

.mat-spinner::ng-deep circle {
  stroke: #70BDBD;
}

.transparent .mat-dialog-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.0);
}

table tbody {
  border: none;
  background: transparent;
}

//.mat-header-cell {
//  font-weight: bold;
//  font-size: 14px;
//}

.table-filter {
  top: 5px;
  width: 50%;
}


